body{
	margin: 0px;
}

/* Body Header */

#body-header{
	height: 65vh;
	/*background-image: url(headerpic.jpg);*/
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(headerpic.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* Horizontal Lists */ 

.horizontal-list{
    margin: 0px;
    list-style: none;
    padding-left: 0px;

}
.horizontal-list li{
	display: inline-block;
	margin: 0px 8px 8px 0px;
}
.horizontal-list li a{
	text-decoration: none;
	color: white;
	font-style: Tahoma;
	
	
}
.nav-menu li a{
	transition: color 0.5s,border-bottom 4s;
	position: relative;
	top: 30px;
	margin: 25px;
	font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-menu li a:hover{
   color: lightgrey;
   border-bottom: 1px solid white;
}
/*.nev-special-design{
   width: 100vw;
   hight: 10vh;
   background-color: rgba(120, 146, 150,0.8);
}*/
.center-align{
    text-align: center;
}


/* Name and social container */

#name-social-container{
	margin-top: 20vh;
}
#my-name{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-family: Arial, Helvetica, sans-serif;
}

.social-icons li a i{
     padding: 20px;
     font-size: 2rem;
     border-radius: 50%;
     transition: box-shadow 0.5s;
}

.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.8);
}

section{
	width: 100%;
	display: flex;
	flex-direction: column;
}
section:nth-child(2n){
	background-color: #FFF5FF;
}
section:nth-child(2n+1){
	background-color: white;
}
.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	margin: auto;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}
.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-rigth: 0.5rem;
}

/* About section */

#about{
	height: auto;
	width: 100%;
	position: relative;
}
#my-image{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -17vh;
}
#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 6px 4px rgba(255,255,255,0.8);
}
#about p{
	/*font-size: 2rem;
	text-align: justify;
	padding: 10px 80px 10px 80px;*/
	padding: 10px;
	width: 50%;
	height: 100%;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: grey;
	line-height: 20px;
	font-weight: 100;
	font-size: 1.3rem;
	margin-top: 10px;
	padding-bottom:70px;

}

/*Skills section */

.skills-display{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;

	justify-content: space-between;
	padding-bottom: 50px;

}
.skill-progress{
	width: 8rem;
	height: 1.6rem;
	background-color: lightcyan;
	border-radius: 0.8rem;
	border: 2px solid black;
	margin-bottom: 30px;
} 
.skill-progress>div{
	border-radius: 20px 0px 0px 20px;
}

.skill-name span{
     color: white;
     font-size: 1rem;
     margin-left: 30px;
     font-family: Arial, Helvetica, sans-serif;

}



/* Common Margin Classes */
.mb75px{
	margin-bottom: 75px;
}
.mb-blue{
	background-color: blue;
	height: inherit;
}
.mb-orange{
	background-color: orange;
}
.mb-pink{
	background-color: pink;
}
.mb-skyblue{
	background-color: skyblue;
}
.mb-green{
	background-color: palegreen;
}
.mb-gold{
	background-color: gold;
}


/* Percent class */

.eighty-five-percent{
	width: 85%;
	height: inherit;
}
.seventy-percent{
	width: 85%;
	height: inherit;
}
.fifty-percent{
	width: 50%;
	height: inherit;
}
.forty-percent{
	width: 40%;
	height: inherit;
}
.thirty-percent{
	width: 30%;
	height: inherit;
}


/* Timeline*/

.timeline{
   position: relative;
   width: 75%;
   /*border: 2px solid black;*/
   margin-left: 150px;
   padding-bottom: 30px;
}
.timeline-box:nth-child(2n+1){
	position: relative;
	width: 40%;
	left: 5%;
	/*border: 2px solid black;*/
	min-height: 150px;
    text-align: right;
}
.timeline-box:nth-child(2n){
	position: relative;
	width: 40%;
	left: 5%;
	/*border: 2px solid black;*/
	min-height: 150px;
    text-align: left;
}

.timeline-box:nth-child(2n){
	left: 53%;
}
.timeline-box:nth-child(2n+1)::after{
	content: '';
	position: absolute;
	top: 50%;
	right: -10%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	z-index: 1;
}
.timeline-box:nth-child(2n)::after{
	content: '';
	position: absolute;
	top: 50%;
	left: -12.1%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	z-index: 1;

}
.timeline-box-type{
	font-family: Arial, Helvetica, sans-serif;
	color:#2857a4 ;
	line-height: 20px;
	font-weight: 200;
	font-size: 1.4rem;

}
.timeline-box-info{
	font-family: Arial, Helvetica, sans-serif;
	color: grey;
	line-height: 20px;
	font-weight: 100;
	font-size: 1.3rem;
}

.timeline-divider{
	position: absolute;
	width: 0;
	height: 80%;
	border: 2px dashed #0096fa6b;
	left: 48.5%;
	top: 10%;
}
.timeline-traveler{
	position: sticky;
	top: 30%;
	transform: rotate(90deg);
	z-index: 2;
}
#verify{
	background-color: #1434A4;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
#verify a{
	text-decoration: none;
	color: #B5B2B5;
}
#verify:hover {
    background: white;
     border: 2px solid #B5B2B5;
}

/*Portfolio*/
.portfolio-display{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-around;
	flex-shrink: 1;
}
.portfolio-card{
	width: 20rem;
	height: 20rem;
	margin: 20px 50px 20px 50px;
	position: relative;
	overflow: hidden;

}

.portfolio-details{
	transition: all 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    text-align: center;

}
.portfolio-details p{
	font-size: 1.5rem;
}
/*.portfolio-details: hover{
    box-shadow: 0 0 50px black;
}*/
.portfolio-card:hover .portfolio-details{
	background-color: #80808099;
	color: white;
}
  

/*portfolio images*/
.community{
   background-image: url(community.jpg);
	background-size: cover;
}
.personal_website{
	background-image: url(personal_website.jpg);
    background-size: cover ;
}
.farmerly{
	background-image: url(farmerly.jpg);
    background-size: cover ;
}


/*contact section*/

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
    flex-direction: row;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
    font-family: Arial, Helvetica, sans-serif;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    /*#2857a4*/
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}



#contact-form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {

    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

